.bk{
    background-color: yellow;
    width: 500px;
    height: 500px;
    position: relative;
}

.kdt{
    text-align: center;
    background-color: blue;
    width: calc(500px - 90%);
    height: calc(500px - 90%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    
}
